
@import './fonts/Inter-Medium.woff';
@import './fonts/Inter-Regular.woff';
@import './fonts/Jost-Regular.woff';
@import './fonts/Jost-SemiBold.woff';


body{
  margin: 0;
  padding: 0;
}
#root{
  height: 100vh;
  background: linear-gradient(270.39deg, #323C62 0.36%, #3E5086 99.69%);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Jost';
}
h1 {
  font-weight: 600;
  font-size: 96px;
}
p {
  font-family: 'Inter-Regular';
  font-size: 1rem;
}
