
@import './fonts/Inter-Medium.woff';
@import './fonts/Inter-Regular.woff';
@import './fonts/Jost-Regular.woff';
@import './fonts/Jost-SemiBold.woff';


h1,
h2,
h3,
h4,
h5 {
  font-family: 'Jost';
}
h1 {
  font-weight: 600;
  font-size: 96px;
}
p {
  font-family: 'Inter-Regular';
  font-size: 1rem;
}
